<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Sidebar</title>
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/sidebar.css">
</head>
<body>

    <div class="sidebar">
        <div class="sidebar-search" id="sidebar-search">
           <input type="text" placeholder="Rechercher...">
        </div>
        <ul>
        <li>
            <a href="HomePage.html">
                <img src="../static/icons/HomeIcon.png" class="icon" alt="Accueil">
                <span class="text">Accueil</span>
            </a>
        </li>

        <li>
            <a href="ProfilPage.html">
                <img src="../static/icons/ProfilIcon.png" class="icon" alt="Profil">
                <span class="text">Profil</span>
            </a>
        </li>

        <li>
            <a href="SettingsPage.html">
                <img src="../static/icons/SettingsIcon.png" class="icon" alt="Settings">
                <span class="text">Paramètres</span>
            </a>
        </li>
    </ul>
    </div>

    <header class="header" id="header">
        <div class="header-logo">
            <img src="../static/icons/logo.png" alt="Logo">
        </div>

        <div class="header-search" id="header-search">
            <span class="search-icon"></span>
            <input type="text" placeholder="Rechercher...">
        </div>
    <div class="header-title">IL FAUT BLOQUER</div>
    </header>
    <main>
        <h1>Contenu principal</h1>
        <p>raaaaah</p>
    </main>
</body>
</html>