<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="../static/css/homePage.css">
</head>
<body>
    
    <section class="content">


        <div class="posts-container">
            <div class="posts-header">

                <form action="" method="GET" class="filter-form">
                    <details class="dropdown-filter">
                        <summary>Filtrer par catégories</summary>

                        <div class="dropdown-content">
                            {{range .Categories}}
                                <label>
                                    <input type="checkbox" name="category_id" value="{{.ID}}">
                                    {{.Name}}
                                </label>
                            {{end}}
                        </div>
                    </details>

                    <button type="submit">Appliquer</button>
                </form>

                <p class="last-post-title">Dernier post :</p>

            </div>

            {{range .Posts}}
                <div class="post-card">
                    <h2 class="user-link"><a href="/profil/user?id={{.UserID}}">{{.Avatar}} {{.Pseudo}}</a></h2>
                    <h2>{{.Title}}</h2>
                    <p>{{.Content}}</p>
                    <small>Posté le {{.CreatedAt}}</small>
                </div>
            {{else}}
                <p>Aucun post pour le moment.</p>
            {{end}}

            <a href="../template/creationPage.html" id="new-post-btn">
                Créer un nouveau post
            </a>
        </div>

    </section>





</body>
</html>