<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
    <link rel="stylesheet" href="../static/css/SignUp.css">
</head>
<body>

    <header>
        <a href="HomePage.html">
            <img src="../static/icons/logo.png" alt="Logo">
        </a>
    </header>

    <div class="container">
        <form action="/register" method="POST"> 
            <h1>Créer un compte</h1>

            {{if .ErrorMessage}}
                <p id="error-msg">{{.ErrorMessage}}</p>
            {{end}}

            <label for="pseudo">Pseudo</label>
            <input type="text" name="pseudo" id="pseudo" placeholder="tonpseudo">

            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="exemple@mail.com">

            <label for="pwd">Mot de passe</label>
            <input type="password" name="pwd" id="pwd" placeholder="••••••••">

            <label for="pwd-confirm">Confirmer le mot de passe</label>
            <input type="password" name="pwd-confirm" id="pwd-confirm" placeholder="••••••••">

            <p id="error-msg"></p>

            <button type="submit" class="btn"> S'inscrire</button>

            <p class="link">Déjà un compte ? <a href="/login">Se connecter</a></p>
        </form>
    </div>

    <script src="../static/components/signup.js"></script>
</body>
</html>